mat-card{
 margin: 10px;
}

mat-grid-tile  {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }

 mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }

 mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }
 table{
   /* width: 100%; */
   margin-top: 25px;
   margin-bottom: 25px;
 }

 ::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:left;
}

::ng-deep .mat-header-cell {
  display:center;
  padding-left: 5px;
  padding-right: 5px;

}
::ng-deep .mat-cell {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}