mat-card{
 margin: 10px;
}
mat-grid-tile{
    background: lightblue;
};
.tableStyle{
    border: 1px solid black;
    border-collapse: collapse;
width: 100%;
}

mat-grid-tile  {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }

 mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }

 .text-inside-grid {
    position: absolute;
    left: 5px;
  }
  table {
    width: 100%;
  }