<mat-card>
    <p-table [style]="{'width':'400px'}" [columns]="cols" [value]="invoices" selectionMode="single" [(selection)]="selectedInvo" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
        <ng-template pTemplate="caption">
            Invoice
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    <span *ngIf="col.header=='date'">{{rowData[col.field] | date:"yyyy/MM/dd"}}</span>
                    <span *ngIf="col.header!='date'">${{rowData[col.field] }}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td>Totals</td>
                <td>${{calculateTotal()}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left;">
                <button mat-raised-button color="primary" (click)="showDialogToAdd()">Add</button>
                <!-- <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button> -->
            </div>
        </ng-template>
    </p-table>

    <p-table [value]="invoices" [style]="{'width':'400px'}" (onRowSelect)="onRowSelect($event)" selectionMode="single" [(selection)]="selectedInvo">
        <ng-template pTemplate="header">
            <tr [ngClass]="'tableHeaderRowStyle'">
                <th [ngClass]="'tableHeaderCellStyle'">date</th>
                <th [ngClass]="'tableHeaderCellStyle'">amount</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invo [pSelectableRow]="invo">
            <tr [ngClass]="'tableRowStyle'">
                <td [ngClass]="'tableCellStyle'">{{invo.date | date:"yyyy/MM/dd"}}</td>
                <td [ngClass]="'tableCellStyle'">${{invo.amount}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr [ngClass]="'tableRowStyle'">
                <td [ngClass]="'tableCellStyle'">Totals</td>
                <td [ngClass]="'tableCellStyle'">${{calculateTotal()}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-invo>
            <div style="text-align:left">
                <button mat-raised-button color="primary" (click)="showDialogToAdd()">Add</button>
                <!-- <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button> -->
            </div>
        </ng-template>
    </p-table>

    <p-table [value]="invoices" [style]="{'width':'400px'}">
        <ng-template pTemplate="header">
            <tr [ngClass]="'tableHeaderRowStyle'">
                <th [ngClass]="'tableHeaderCellStyle'">Date</th>
                <th [ngClass]="'tableHeaderCellStyle'">Amount</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invo [pSelectableRow]="invo">
            <tr [ngClass]="'tableRowStyle'">
                <td pEditableColumn [ngClass]="'tableCellStyle'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="date" [(ngModel)]="invo.date" required [ngClass]="'inputStyle'">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span class="outputDate">{{invo.date | date:"yyyy/MM/dd"}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn [ngClass]="'tableCellStyle'">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="invo.amount" required [ngClass]="'inputStyle'">
                        </ng-template>
                        <ng-template pTemplate="output">
                            ${{invo.amount}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr [ngClass]="'tableRowStyle'">
                <td [ngClass]="'tableCellStyle'">Totals</td>
                <td [ngClass]="'tableCellStyle'">${{calculateTotal()}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left">
                <button mat-raised-button color="primary" (click)="showDialogToAdd()">Add</button>
                <!-- <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button> -->
            </div>
        </ng-template>
    </p-table>
</mat-card>



<p-dialog header="Invoice Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}" appendTo="body">
    <div class="ui-g ui-fluid" *ngIf="invo">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="date">Date</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="date" [(ngModel)]="invo.date" type="date" placeholder="today" />
            </div>
        </div>
        <div class=" ui-g-12 ">
            <div class="ui-g-4 ">
                <label for="amount ">Amount</label>
            </div>
            <div class="ui-g-8 ">
                <input pInputText id="amount " [(ngModel)]="invo.amount " type="number" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix ">
            <button type="button " pButton icon="fa fa-close " (click)="delete() " label="Delete "></button>
            <button type="button " pButton icon="fa fa-check " (click)="save() " label="Save "></button>
        </div>
    </p-footer>
</p-dialog>