<!-- <app-salary-individual [readMode]="false" [employeeSalary]="project.employeeSalary[0]"></app-salary-individual> -->
<app-salary [employeeSalaryArr]="project.employeeSalary" [readMode]="false"></app-salary>
<app-material [readMode]="false" [material]="project.material"></app-material>

<app-phase [phases]="project.phaseArr" [readMode]="false" [project]="project"></app-phase>
<app-phase-tracking [phases]="project.phaseArr" [readMode]="false"></app-phase-tracking>
<app-calendar [phases]="project.phaseArr"></app-calendar>
<app-overview [project]="project" [readMode]="false"></app-overview>
<app-workload [workloadArr]="project.workloadArr" [readMode]="false"></app-workload>
<app-invoice [invoices]="project.invoiceArr" [readMode]="true"></app-invoice>