<app-overview [project]="project" [readMode]="false"></app-overview>
<app-workload [workloadArr]="project.workloadArr" [readMode]="false"></app-workload>
<app-invoice [invoices]="project.invoiceArr" [readMode]="true"></app-invoice>


<!-- Project Name -->

<mat-form-field class="full-width">
    <input matInput placeholder="Project Name" value="{{project.Name}}">
</mat-form-field>
<table class="full-width" cellspacing="0">
    <tr>
        <td>
            <!-- start date -->
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="startDate" placeholder="Start Date" [value]="project.startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
        </td>
        <td>
            <!-- end date -->
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="endDate" placeholder="End Date" [value]="project.endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <!-- completed -->
            <mat-form-field class="">
                <input matInput placeholder="Completed" value="{{project.completion}}">
            </mat-form-field>
        </td>
        <td>
            <!-- recored Stored Completed  -->
            <mat-form-field class="">
                <input matInput placeholder="Records Stored Completed" value="{{project.recoredStoredCompleted}}">
            </mat-form-field>
        </td>
        <td>
        </td>
    </tr>
</table>
<table>
    <mat-checkbox class="example-margin" [checked]="project.progressSurveySent">Inprogress Survey Sent</mat-checkbox>

</table>

<!-- Inprogress Survey Sent	 -->
<!-- Completed -->






<!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Company (disabled)" disabled value="Google">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First name">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Long Last Name That Will Be Truncated">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <p>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address 2"></textarea>
        </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="City">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="State">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field>
            </td>
        </tr>
    </table> -->