<div *ngIf="isDataLoaded">
    <mat-toolbar>
        <mat-toolbar-row style="background-color: #344955; color: white; text-align: right;">
            <button mat-stroked-button class="toolBarButton" routerLink="/project/{{project.ID}}" (click)=" submit(project) ">Submit</button>
            <a routerLink="/project/{{project.ID}} ">
                <button mat-stroked-button class="toolBarButtonSecondary ">Cancel</button>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>

    <app-overview [project]="project " [readMode]="false " (teamChangedEvent)="getPhaseChangedEvent() "></app-overview>
    <app-workload [workloadArr]="project.workloadArr " [readMode]="false "></app-workload>
    <mat-card>
        <mat-card-title class="cardTitle ">Phase</mat-card-title>
        <table>
            <tr>
                <td>
                    <app-phase [phases]="project.phaseArr " [readMode]="false " [project]="project " (phaseChangedEvent)="getPhaseChangedEvent() "></app-phase>
                </td>

                <td>
                    <app-calendar [phases]="project.phaseArr "></app-calendar>
                </td>
            </tr>
        </table>
    </mat-card>

    <table>
        <tr>
            <td>
                <app-phase-tracking [phases]="project.phaseArr " [readMode]="false " [porject]="project " [phaseChangedEventListener]="eventsSubject.asObservable() "></app-phase-tracking>
            </td>

            <td>
                <app-material [readMode]="false " [material]="project.material " [project]="project " [phaseChangedEvent]="eventsSubject.asObservable() "></app-material>
            </td>
            <td>
                <app-invoice [invoices]="project.invoiceArr " [readMode]="false " [project]="project "></app-invoice>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <td>
                <app-salary [employeeSalaryArr]="project.employeeSalaryList " [readMode]="false " [project]="project " [phaseChangedEvent]="eventsSubject.asObservable() "></app-salary>

            </td>
        </tr>
    </table>
</div>