<!-- <app-salary-individual [readMode]="false" [employeeSalary]="project.employeeSalary[0]"></app-salary-individual> -->
<div *ngIf="isDataLoaded">
    <app-overview [project]="project" [readMode]="false" [spendtToDate]="spendtToDate"></app-overview>
    <app-workload [workloadArr]="project.workloadArr" [readMode]="false"></app-workload>
    <mat-card>
        <mat-card-title>Phase</mat-card-title>
        <table>
            <tr>
                <td>
                    <app-phase [phases]="project.phaseArr" [readMode]="false" [project]="project"></app-phase>
                </td>

                <td>
                    <app-calendar [phases]="project.phaseArr"></app-calendar>
                </td>
            </tr>
        </table>
    </mat-card>

    <table>
        <tr>
            <td>
                <app-phase-tracking [phases]="project.phaseArr" [readMode]="false" [porject]="project"></app-phase-tracking>
            </td>

            <td>
                <app-material [readMode]="false" [material]="project.material" [project]="project"></app-material>
            </td>
            <td>
                <app-invoice [invoices]="project.invoiceArr" [readMode]="false" [project]="project"></app-invoice>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <td>
                <app-salary [employeeSalaryArr]="project.employeeSalaryList" [readMode]="false" [project]="project"></app-salary>

            </td>
        </tr>
    </table>
</div>