<mat-toolbar>
    <mat-toolbar-row style="background-color: #344955; color: white; text-align: right;">
        <button mat-stroked-button class="toolBarButton" routerLink="" (click)=" submit(newEmployee) ">Submit</button>
        <a routerLink="">
            <button mat-stroked-button class="toolBarButtonSecondary ">Cancel</button>
        </a>
    </mat-toolbar-row>
</mat-toolbar>



<mat-card>
    <mat-card-header>
        <mat-card-title>Add New Employee</mat-card-title>
    </mat-card-header>

    <mat-form-field class="full-width" floatLabel="always">
        <input matInput placeholder="Unique Empolyee ID" [(ngModel)]="newEmployee.empID" type="number"><br>
    </mat-form-field>
    <mat-form-field class="full-width" floatLabel="always">
        <input matInput placeholder="Employee Name " [(ngModel)]="newEmployee.name"><br>
    </mat-form-field>
    <mat-form-field class="full-width" floatLabel="always">
        <input matInput placeholder="Wage" [(ngModel)]="newEmployee.wage" type="number"><br>
    </mat-form-field>

</mat-card>